<div class="row">
  <div class="col-lg-12 main-chart">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3>Saiba Mais</h3>
        <br>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 mb">

        A MMAStats surgiu da iniciativa de um grupo de colegas com uma paixão em comum: o MMA. Resolvemos divulgar informações sobre esse esporte incrível e de seus atletas! Aqui vocês encontrarão estatísticas atualizadas e diversificadas sobre a modalidade. Esperamos que seja prazeroso para cada um de vocês navegar por nossa plataforma!
<br>
<br>

<h3>Rankings</h3>
<br>
<br>
O MMAStats  aponta certas atualizações no decorrer do ano. A mais esperada, talvez, seja a atualização do rating - pontuação geral - de alguns atletas, calculada de acordo com uma análise sobre os números de um lutador.<br>
<br>

Alguns atletas apresentaram um desempenho melhor do que o esperado conforme as lutas acontecem. Por outro lado, os demais atletas, com atuações abaixo da média, podem cair na classificação.<br>
<br>

<h3>Tale of the Tape</h3>
<br>
Confrontar com maior exatidão!
<br>
Atualmente conta com estatísticas detalhadas para os 25 principais atletas do esporte desde seu nascimento até o ano de 2020. As classificações dos atletas e suas respectivas comparações ocorrem acordo com diversos fatores relacionados ao seus records.
      </div>

    </div>
  </div>
</div>