<div class="row">
  <div class="col-lg-12 main-chart">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3>Saiba Mais</h3>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 mb">
        Rankings
<br>
Normalmente, o MMAStats  aponta certas atualizações no decorrer das temporadas. A mais esperada, talvez, seja a atualização do rating - pontuação geral - de alguns atletas, calculada de acordo com...
<br>
Alguns atletas apresentaram um desempenho melhor do que o esperado ao longo das temporadas e recebem pontos extras. Por outro lado, os demais atletas, com atuações abaixo da média, podem cair na classificação. 
<br>
Veja como ficou a classificação da temporada 2020!
<br>

Tale of the Tape
<br>
Confrontar com maior exatidão!
<br>
Estatísticas detalhadas para os 10 principais atletas na temporada de 2020. As classificações dos atletas e suas respectivas comparações de acordo com os itens abaixo:
<br>
Categoria
<br>
Qtde de vitórias
<br>
Qtde de nocautes
<br>
Qtde de lutas

      </div>

    </div>
  </div>
</div>