<div class="row">

  <div class="col-lg-12 main-chart" *ngIf="carregando">
    <app-loader></app-loader>
  </div>
  
  <div class="col-lg-12 main-chart" *ngIf="!carregando">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>Tale of the Tape</h1>
        <p>
Caso você não tenha tanta intimidade com os esportes de combate e esteja se perguntando: "Tale of the Tape" é um termo largamente utilizado neste contexto para denominar uma espécie de quadro comparativo onde as informações dos dois lutadores são exibidas lado a lado. No nosso caso, no MMA Stats comparamos além das informações básicas dos atletas (como altura e peso) algumas informações estatísticas que podem te ajudar a entender quem tem números melhores em quais área.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h4>Lutador 1</h4>
        <kendo-combobox
            class="w-100"
            #combo
            [data]="comboboxData"
            [textField]="'nome'"
            [valueField]="'id'"
            [filterable]="true"
            (filterChange)="handleFilter($event)"
            [placeholder]="'Primeiro Lutador'"
            [(ngModel)]="selecionado1"
        >
        </kendo-combobox>
      </div>
      <div class="col-md-2 col-sm-2">
        <br>
        <h3>vs.</h3>
      </div>
      <div class="col-md-5 col-sm-5">
        <h4>Lutador 2</h4>
        <kendo-combobox
            class="w-100"
            #combo
            [data]="comboboxData"
            [textField]="'nome'"
            [valueField]="'id'"
            [filterable]="true"
            (filterChange)="handleFilter($event)"
            [placeholder]="'Segundo Lutador'"
            [(ngModel)]="selecionado2"
        >
        </kendo-combobox>
      </div>
    </div>

    <section class="row" *ngIf="mostraTOTT()">
      <hr>
      <div class="col-md-5 col-sm-5 col-xs-5">
        <br>
        <h4 class="text-right">{{selecionado1?.nome}}</h4>
        <div class="text-right">
          <br>
          <h5>{{selecionado1?.pais}}</h5>
          <br>
          <h5>{{selecionado1?.categoria}}</h5>
          <br>
          <h5>{{selecionado1?.equipe}}</h5>
          <br>
          <h5>{{selecionado1?.idade}}</h5>
          <br>
          <h5>{{selecionado1?.altura}} cm</h5>
          <br>
          <h5>{{selecionado1?.peso}} KG</h5>
          <br>
          <hr>
        </div>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-2 text-center">
        <h3>vs.</h3>
        <br>
        <h5>País</h5>
        <br>
        <h5>Categoria</h5>
        <br>
        <h5>Equipe</h5>
        <br>
        <h5>Idade</h5>
        <br>
        <h5>Altura</h5>
        <br>
        <h5>Peso</h5>
        <br>
        <hr>
      </div>

      <div class="col-md-5 col-sm-5 col-xs-5">
        <br>
        <h4 class="text-left">{{selecionado2?.nome}}</h4>
        <div class="text-left">
          <br>
          <h5>{{selecionado2?.pais}}</h5>
          <br>
          <h5>{{selecionado2?.categoria}}</h5>
          <br>
          <h5>{{selecionado2?.equipe}}</h5>
          <br>
          <h5>{{selecionado2?.idade}}</h5>
          <br>
          <h5>{{selecionado2?.altura}} cm</h5>
          <br>
          <h5>{{selecionado2?.peso}} KG</h5>
          <br>
          <hr>
        </div>
      </div>
    </section>

    <section class="row" *ngIf="mostraTOTT()">
      <div class="col-md-12" #containerRef1>

        <ngx-charts-bar-horizontal-normalized
          [view]="[containerRef1.offsetWidth, 350]"
          [results]="dadosComparacao"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showXAxisLabel]="false"
          [showYAxisLabel]="true"
          [legendTitle]="'Legenda'"
          [animations]="false"
          (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-normalized>

      </div>
    </section>
  </div>
</div>
