<div class="row">
  <div class="col-lg-12 main-chart">

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3>Tale of the Tape</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor lorem ligula, eu sodales ipsum rutrum accumsan. Etiam iaculis dignissim pellentesque. Suspendisse semper, ante non interdum rhoncus, ex lectus dapibus tortor, viverra pretium lectus ligula nec mauris. Phasellus a dolor sem. Ut volutpat aliquet accumsan. Proin fringilla vel felis ac congue. Donec a nunc maximus, fermentum velit id, sagittis turpis. Phasellus congue sem ac nibh hendrerit, congue vehicula orci rutrum. Proin vel odio lorem. Nunc dictum justo in purus iaculis, tempus aliquet metus pharetra. Sed vestibulum purus nibh, sed congue orci sagittis non.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h4>Lutador 1</h4>
        <kendo-combobox
            class="w-100"
            #combo
            [data]="comboboxData"
            [textField]="'nome'"
            [valueField]="'id'"
            [filterable]="true"
            (filterChange)="handleFilter($event)"
            [placeholder]="'Primeiro Lutador'"
            [(ngModel)]="selecionado1"
        >
        </kendo-combobox>
      </div>
      <div class="col-md-2 col-sm-2">
        <br>
        <h3>vs.</h3>
      </div>
      <div class="col-md-5 col-sm-5">
        <h4>Lutador 2</h4>
        <kendo-combobox
            class="w-100"
            #combo
            [data]="comboboxData"
            [textField]="'nome'"
            [valueField]="'id'"
            [filterable]="true"
            (filterChange)="handleFilter($event)"
            [placeholder]="'Segundo Lutador'"
            [(ngModel)]="selecionado2"
        >
        </kendo-combobox>
      </div>
    </div>


    <div class="row">
      <!-- <div class="row" *ngIf="mostraTOTT()"> -->
      <hr>

      <div class="col-md-5 col-sm-5 col-xs-5">
        <br>
        <h4 class="text-right">Alistair Overeem</h4>
        
        <div class="text-right">
          <br>
          <h5>Score</h5>
          <br>
          <h5>País</h5>
          <br>
          <h5>Categoria</h5>
          <br>
          <h5>Equipe</h5>
          <br>
          <h5>Idade</h5>
          <br>
          <h5>Altura</h5>
          <br>
          <h5>Vitórias</h5>
          <br>
          <h5>por KO/TKO</h5>
          <br>
          <h5>por Submissão</h5>
          <br>
          <h5>por Decisão</h5>
          <br>
          <h5>Outras</h5>
          <br>
          <h5>Derrotas</h5>
          <br>
          <h5>por KO/TKO</h5>
          <br>
          <h5>por Submissão</h5>
          <br>
          <h5>por Decisão</h5>
          <br>
          <h5>Outras</h5>
          <br>
          <h5>Empates/NC</h5>
        </div>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-2 text-center">
        <h3>vs.</h3>
        <br>
        <h5>Score</h5>
        <br>
        <h5>País</h5>
        <br>
        <h5>Categoria</h5>
        <br>
        <h5>Equipe</h5>
        <br>
        <h5>Idade</h5>
        <br>
        <h5>Altura</h5>
        <br>
        <h5>Vitórias</h5>
        <br>
        <h5>por KO/TKO</h5>
        <br>
        <h5>por Submissão</h5>
        <br>
        <h5>por Decisão</h5>
        <br>
        <h5>Outras</h5>
        <br>
        <h5>Derrotas</h5>
        <br>
        <h5>por KO/TKO</h5>
        <br>
        <h5>por Submissão</h5>
        <br>
        <h5>por Decisão</h5>
        <br>
        <h5>Outras</h5>
        <br>
        <h5>Empates/NC</h5>
      </div>

      <div class="col-md-5 col-sm-5 col-xs-5">
        <br>
        <h4 class="text-left">Fedor Emelianenko</h4>
        <div class="text-left">
          <br>
          <h5>Score</h5>
          <br>
          <h5>País</h5>
          <br>
          <h5>Categoria</h5>
          <br>
          <h5>Equipe</h5>
          <br>
          <h5>Idade</h5>
          <br>
          <h5>Altura</h5>
          <br>
          <h5>Vitórias</h5>
          <br>
          <h5>por KO/TKO</h5>
          <br>
          <h5>por Submissão</h5>
          <br>
          <h5>por Decisão</h5>
          <br>
          <h5>Outras</h5>
          <br>
          <h5>Derrotas</h5>
          <br>
          <h5>por KO/TKO</h5>
          <br>
          <h5>por Submissão</h5>
          <br>
          <h5>por Decisão</h5>
          <br>
          <h5>Outras</h5>
          <br>
          <h5>Empates/NC</h5>
        </div>
      </div>

    </div>
  </div>
</div>