<div class="row">
  <div class="col-lg-12 main-chart">
    <div class="row mt">
      <div class="col-md-12 col-sm-12 mb">
        <h1>MMA Stats - As Melhores Estatísticas Sobre MMA</h1>
        <h4>
          É fã de MMA e curte informações curiosas e estatísticas? Não deixe de acompanhar o MMA Stats.
          <br>
          Em breve com muito mais informações.
        </h4>
      </div>
    </div>
    <div class="row mt" *ngIf="false">
      <div class="col-md-8 col-sm-8 mb">
        <div class="grey-panel pn donut-chart">
          <div class="grey-header">
            <h5>Total de Lutas</h5>
          </div>
          <div class="card-header-chartings hidden-xs" #containerRef1>
            <ngx-charts-gauge
              [view]="[containerRef1.offsetWidth, 230]"
              [scheme]="colorScheme"
              [results]="totalLutas"
              [legend]="true"
              [legendTitle]="legenda"
              (select)="onSelect($event)"
              >
            </ngx-charts-gauge>
          </div>

          <div class="card-header-chartings visible-xs" #containerRef3>
            <ngx-charts-bar-vertical
                  [view]="[containerRef3.offsetWidth, 200]"
                  [results]="totalLutas"
                  [showXAxisLabel]="false"
                  [showYAxisLabel]="false"
                  [legend]="true"
                  [legendTitle]="legenda"
                  [scheme]="colorScheme"
                  (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <br>
        <br>
        <br>
O gráfico ao lado mostra que do total de X lutas existentes na nossa base de dados, A acabaram por nocaute ou nocaute técnico; B acabaram por finalização; C acabaram por decisão; e D acabaram sem resultado.</div>
    </div>
    
    <div class="row mt">
      <div class="col-md-4 col-sm-4">
        <br>
        <br>
        <br>
Nosso esporte do coração nasceu (como MMA) nos anos 1990 tendo basicamente 3 países como os maiores representantes à época: os Estados Unidos da América, o Japão e, claro, o Brasil. O gráfico ao lado mostra, em um panorâma atual, quais são os países com a maior quantidade de representantes em nossa base de dados.      </div>

      <div class="col-md-8 col-sm-8 mb">
        <div class="grey-panel pn donut-chart">
          <div class="grey-header">
            <h5>Representatividade das Nações</h5>
          </div>
          <div class="card-header-chartings" #containerRef2>
            <ngx-charts-bar-vertical
                  [view]="[containerRef2.offsetWidth, 200]"
                  [results]="totalLutadores"
                  [showXAxisLabel]="false"
                  [showYAxisLabel]="false"
                  [legend]="true"
                  [legendTitle]="legenda"
                  [scheme]="colorScheme"
                  (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt">
      <div class="col-md-4 col-sm-4 mb">
        <div class="green-panel pn">
          <div class="green-header">
            <h5>Melhores Pontuações</h5>
          </div>
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <br>
              <a href="#">
                <h5>1. Fedor Emelianenko</h5>
              </a>
              <a href="#">
                <h5>2. Georges St. Pierre</h5>
              </a>
              <a href="#">
                <h5>3. Jon Jones</h5>
              </a>
              <a href="#">
                <h5>4. Anderson Silva</h5>
              </a>
              <a href="#">
                <h5>5. Khabib Nurmagomedov</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mb">
        <div class="green-panel pn">
          <div class="green-header">
            <h5>Melhores Pontuações</h5>
          </div>
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <br>
              <a href="#">
                <h5>6. Demetrious Johnson</h5>
              </a>
              <a href="#">
                <h5>7. Matt Hughes</h5>
              </a>
              <a href="#">
                <h5>8. Chuck Liddell</h5>
              </a>
              <a href="#">
                <h5>9. B.J. Penn</h5>
              </a>
              <a href="#">
                <h5>10. Conor McGregor</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mb">
        <div class="grey-panel pn donut-chart">
          <div class="grey-header">
            <h5>Como Funciona o Sistema de Pontuação?</h5>
          </div>
          <br>
          <p>
            O Score do MMA Stats é calculado basicamente sobre os números de um lutador e, portanto, este é uma análise quantitativa e não qualitativa. É importante destacar também que, considerando que uma vitória dentro do UFC vale mais do que dentro de um evento regional, os números associados a uma luta são ponderados para melhor refletir esta realidade.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
