<div class="row">
  <div class="col-lg-12 main-chart">
    <div class="row mt">
      <div class="col-md-8 col-sm-8 mb">
        <div class="grey-panel pn donut-chart">
          <div class="grey-header">
            <h5>Total de Lutas</h5>
          </div>
          <div class="card-header-chartings hidden-xs" #containerRef1>
            <ngx-charts-gauge
              [view]="[containerRef1.offsetWidth, 230]"
              [scheme]="colorScheme"
              [results]="totalLutas"
              [legend]="true"
              [legendTitle]="Legenda"
              (select)="onSelect($event)"
              >
            </ngx-charts-gauge>
          </div>

          <div class="card-header-chartings visible-xs" #containerRef3>
            <ngx-charts-bar-vertical
                  [view]="[containerRef3.offsetWidth, 200]"
                  [results]="totalLutas"
                  [showXAxisLabel]="false"
                  [showYAxisLabel]="false"
                  [legend]="true"
                  [legendTitle]="Legenda"
                  [scheme]="colorScheme"
                  (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <br>
        <br>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa libero, sagittis at posuere vel, egestas eget felis. Mauris eu sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa libero, sagittis at posuere vel, egestas eget felis. Mauris eu sem eu
      </div>
    </div>
    
    <div class="row mt">
      <div class="col-md-4 col-sm-4">
        <br>
        <br>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa libero, sagittis at posuere vel, egestas eget felis. Mauris eu sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa libero, sagittis at posuere vel, egestas eget felis. Mauris eu sem eu
      </div>

      <div class="col-md-8 col-sm-8 mb">
        <div class="grey-panel pn donut-chart">
          <div class="grey-header">
            <h5>Total de Lutadores</h5>
          </div>
          <div class="card-header-chartings" #containerRef2>
            <ngx-charts-bar-vertical
                  [view]="[containerRef2.offsetWidth, 200]"
                  [results]="totalLutadores"
                  [showXAxisLabel]="false"
                  [showYAxisLabel]="false"
                  [legend]="true"
                  [legendTitle]="Legenda"
                  [scheme]="colorScheme"
                  (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt">
      <div class="col-md-4 col-sm-4 mb">
        <div class="green-panel pn">
          <div class="green-header">
            <h5>Melhores Pontuações</h5>
          </div>
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <br>
              <a href="#">
                <h5>1. Jon Jones</h5>
              </a>
              <a href="#">
                <h5>2. Ryan Bader</h5>
              </a>
              <a href="#">
                <h5>3. Aung La Nsang</h5>
              </a>
              <a href="#">
                <h5>4. Stipe Miocic</h5>
              </a>
              <a href="#">
                <h5>5. Deiveson Figueiredo</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mb">
        <div class="green-panel pn">
          <div class="green-header">
            <h5>Melhores Pontuações</h5>
          </div>
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <br>
              <a href="#">
                <h5>6. Amanda Nunes</h5>
              </a>
              <a href="#">
                <h5>7. Douglas Lima</h5>
              </a>
              <a href="#">
                <h5>8. Khabib Nurmagumedov</h5>
              </a>
              <a href="#">
                <h5>9. Fedor Emelianenko</h5>
              </a>
              <a href="#">
                <h5>10. Israel Adesanya</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mb">
        <div class="grey-panel pn donut-chart">
          <div class="grey-header">
            <h5>Como Funciona o Sistema de Pontuação?</h5>
          </div>
          <br>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa libero, sagittis at posuere vel, egestas eget felis. Mauris eu sem eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa libero, sagittis at posuere vel, egestas eget felis. Mauris eu sem eu
          </p>
        </div>
      </div>
    </div>
  </div>
</div>