<div class="row">
  <div class="col-lg-12 main-chart" *ngIf="carregando">
    <app-loader></app-loader>
  </div>
  
  <div class="col-lg-12 main-chart" *ngIf="!carregando">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3>Rankings de Lutadores</h3>

        <div class="content-panel">
          <section id="unseen">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                  <th>Pos.</th>
                  <th>Lutador</th>
                  <th class="numeric">Pontos Totais</th>
                  <th class="numeric">Pontos do Momento</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Jon Jones</td>
                  <td class="numeric">123.01</td>
                  <td class="numeric">20.395</td>
                </tr>

                <tr>
                  <td>2</td>
                  <td>Khabib Nurmagumedov</td>
                  <td class="numeric">143.01</td>
                  <td class="numeric">20.000</td>
                </tr>

                <tr>
                  <td>3</td>
                  <td>Stipe Miocic</td>
                  <td class="numeric">100.01</td>
                  <td class="numeric">19.152</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>