<div class="row">
  <div class="col-lg-12 main-chart">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3>Rankings de Equipes</h3>

        <div class="content-panel">
          <section id="unseen">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                  <th>Pos.</th>
                  <th>Equipe</th>
                  <th class="numeric">Pontos na Média</th>
                  <th class="numeric">Pontos Totais</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>American Top Team</td>
                  <td class="numeric">0.395</td>
                  <td class="numeric">123.01</td>
                </tr>

                <tr>
                  <td>2</td>
                  <td>Nova União</td>
                  <td class="numeric">0.721</td>
                  <td class="numeric">110.01</td>
                </tr>

                <tr>
                  <td>3</td>
                  <td>Krazy Bee</td>
                  <td class="numeric">0.152</td>
                  <td class="numeric">100.01</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>