<aside>
  <div id="sidebar" class="nav-collapse">
    <ul class="sidebar-menu" id="nav-accordion">
      <li class="mt">
        <a href="/">
          <i class="fa fa-desktop"></i>
          <span>Home</span>
          </a>
      </li>

      <li *ngIf="false">
        <a href="rankings">
          <i class="fa fa-dashboard"></i>
          <span>Rankings</span>
          </a>
      </li>

      <li>
        <a href="tale-of-the-tape">
          <i class="fa fa-bar-chart-o"></i>
          <span>Tale of the Tape</span>
          </a>
      </li>
      <hr>
      <li>
        <a class="text-center" href="saiba-mais">
          <span>O MMA Stats em um Tweet</span>
        </a>
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget libero urna. Suspendisse potenti. Duis sagittis sit amet purus in hendrerit. Duis vitae consectetur ex. Phasellus eleifend mi in nibh cursus volutpat. Integer porttitor, metus in convallis dapibus, justo donec.
        </p>
      </li>
    </ul>
  </div>
</aside>