<aside>
  <div id="sidebar" class="nav-collapse">
    <ul class="sidebar-menu" id="nav-accordion">
      <li class="mt">
        <a class="active" href="index.html">
          <i class="fa fa-desktop"></i>
          <span>Home</span>
          </a>
      </li>

      <li>
        <a class="" href="index.html">
          <i class="fa fa-dashboard"></i>
          <span>Rankings</span>
          </a>
      </li>

      <li>
        <a class="" href="index.html">
          <i class="fa fa-bar-chart-o"></i>
          <span>Tale of the Tape</span>
          </a>
      </li>
    </ul>
  </div>
</aside>